Use the following for html sites that are strictly XHTML.

$blog_header

<strong>Inline style</strong>

[sourcecode language='html' gutter='false']
<style type="text/css">
/* <!CDATA[ */
h1 { font-size: 16pt; font-weight: bold; }
/* ]]> */
</style>
[/sourcecode]

<strong>Including CSS from a file</strong>
The included file does not need any tags to surround the css code.

[sourcecode language='html' gutter='false']
<head>
<link href="demo_styles.css" rel="stylesheet" type="text/css"/>
</head>
[/sourcecode]

<strong>Adjacent Sibling Selector</strong>
[sourcecode language='html' gutter='false']
h1 + p {font-variant: small-caps]
[/sourcecode]
<strong>Universal selector</strong>
[sourcecode language='html' gutter='false']
* { color: green;}
[/sourcecode]
<strong>Pseudo-Classes</strong>
[sourcecode language='html' gutter='false']
a:link {color:black;}
a:visited {color:gray;}
a:hover {text-decoration:none;}
a:active {color:navy;}
[/sourcecode]

<strong>First child</strong>
[sourcecode language='html' gutter='false']
div.weather strong:first-child {color: red;}
[/sourcecode]
<strong>Focus</strong>

An element such as a text field of a form is said to have focus when the user clicks it; that's where the character appear when the user types. For instance, the code

[sourcecode language='html' gutter='false']
input:focus {border: 1px solid blue;}
[/sourcecode]

puts a blue border around such a field when the user clicks it.

<strong>First Letter</strong>
[sourcecode language='html' gutter='false']
p:firstletter {font-size:300%; float:left;}
[/sourcecode]
<strong>First Line</strong>
[sourcecode language='html' gutter='false']
p:first-line{font-varient:small-caps;}
[/sourcecode]
<strong>Before / After</strong>
[sourcecode language='html' gutter='false']
h1.age:before {content:"Age: "}
h1.age:after {content:" years old."}
<h1 class="age">25</h1>
[/sourcecode]

<strong>Font Style and Size</strong>
[sourcecode language='html' gutter='false']
* {font-family: cursive, monospace, sans-serif, serif}
* {font-size: 12pt;}
* {font-size: .8em;}
[/sourcecode]

<p style="font-family:cursive, monospace, sans-serif, serif;">Testing 123</p>
<p style="font-size:12pt;">font-size: 12pt</p>
<p style="font-size:.8em;">font-size: .8em</p>

<strong>Text Properties</strong>
[sourcecode language='html' gutter='false']
text-indent - sets the start position of the text box in relation to the containing element.
letter-spacing - also known as tracking
word-spacing
text-decoration
text-align - left, center, right, justify
line-height - 
text-transform - uppercase, lowercase, capitalize, none
vertical-align - value, sub, sup, top, middle, bottom
[/sourcecode]

<strong>Positioning Elements</strong>
Border
p { border: 1px solid #333; background-color: #EEE}
<strong>Width </strong>- thin, medium, thick, any unit
<strong>Style</strong>- none, hidden, dotted, dashed, solid, double, groove, ridge, inset, and outset 
<strong>color</strong>- 

<strong>Margin and Padding</strong>
* {margin:0; padding:0}

p { border-style: solid}


$blog_footer