<ng2-datepicker [options]="getOptions(1143061739000)" [(ngModel)]="date" (ngModelChange)="onChange($event)"></ng2-datepicker>

<button (click)="checkDate()">check date</button>

{{invoiceToEdit?.id}}
<table class="ui celled table" *ngIf='invoices'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>
        <span>Invoice Id</span>
      </th>
      <th>
        <span>Order Id</span>
      </th>
      <th>
        <span>Invoice Date</span>          
      </th>
      <th>
        <span>Due Date</span>          
      </th>
      <th>
        <span>Tax</span>          
      </th>
      <th>
        <span>Shipping</span>          
      </th>
      <th>
        <span>Amount Due</span>          
      </th>
  </tr></thead>
  <tbody>
    <tr *ngFor='let invoice of invoices'>
      <td>
        <a routerLink="/invoices/{{invoice.id}}">Details</a></td>          
      <td>{{invoice.id}}</td>
      <td>{{invoice.orderId}}</td>
      <td>
        <div *ngIf="invoiceToEdit == invoice"><ng2-datepicker [options]="getOptions(invoice.invoiceDate)" [(ngModel)]="date" (ngModelChange)="onChange($event)"></ng2-datepicker>
          <i class="checkmark icon" (click)="invoiceToEdit = null"></i>
        </div>  
        <div *ngIf="invoiceToEdit != invoice">{{invoice.invoiceDate }} {{invoice.invoiceDate | date}}
            <i class="edit icon" (click)="invoiceToEdit = invoice"></i>
        </div>
      </td>
      <td>{{invoice.dueDate}}</td>
      <td>{{invoice.tax}}</td>
      <td>{{invoice.shipping}}</td>
      <td>{{invoice.amountDue}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf='invoices?.length == 0'>
  <h2>Not found</h2>
</div>

<div *ngIf='!invoices'>
  <h2>Loading...</h2>
</div>