The following page describes how to get a spring context initialized and injected into a rest based project running on JBOSS AS.


<h3>Technology Stack</h3>
<ul>
    <li>JAX-RS</li>
    <li>Spring</li>
    <li>JBOSS EAP</li>
</ul>

$blog_header

<h3>Maven Project Configuration</h3>
pom.xml
[code gutter="false"]
#include("pom.xml")
[/code]

<h3>Web Configuration and Html files</h3>


src/main/webapp/WEB-INF/web.xml
[code gutter="false"]
#include("src/main/webapp/WEB-INF/web.xml")
[/code]

src/main/webapp/WEB-INF/beans.xml
[code gutter="false"]
#include("src/main/webapp/WEB-INF/beans.xml")
[/code]

src/main/webapp/index.html
[code gutter="false"]
#include("src/main/webapp/index.html")
[/code]

<h3>Java Code</h3>

Here we have a spring config via java annotated class.

src/main/java/com/test/SpringConfig.java
[code gutter="false"]
#include("src/main/java/com/test/SpringConfig.java")
[/code]

Next we have a context holder class. This is a CDI Bean that will hold a reference to a spring context. This is the only place CDI is used in the project.
src/main/java/com/test/ContextHolder.java
[code gutter="false"]
#include("src/main/java/com/test/ContextHolder.java")
[/code]


Spring Service Bean
src/main/java/com/test/HelloService.java
[code gutter="false"]
#include("src/main/java/com/test/HelloService.java")
[/code]


Rest Resource
src/main/java/com/test/HelloWorld.java
[code gutter="false"]
#include("src/main/java/com/test/HelloWorld.java")
[/code]

Once deployed navigate to the following url:

http://localhost:8080/jboss-helloworld-rs/rest/json


$blog_footer
