<div *ngIf="loaded">  
  <table class="ui celled table" *ngIf='customers.length'>
    <thead>
      <tr>
        <th>
          <input *ngIf="searchCompanyMode" type="text" [(ngModel)]="filter.company" name="company" placeholder="Company">
          <span *ngIf="!searchCompanyMode">Company</span>
          <i (click)="sortCompany()" class="icon sort"></i>
          <i (click)="searchCompany()" class="icon search"></i>          
        </th>
        <th>First Name</th>
        <th>Last Name</th>
      <th></th>
    </tr></thead>
    <tbody>
      <tr *ngFor='let customer of customers | customerFilter:filter'>
        <td>{{customer.company}}</td>
        <td>{{customer.firstName}}</td>
        <td >
          <div *ngIf="customerToEdit != customer" (click)="customerLastNameEdit(customer)">{{customer.lastName}}</div>
                   <div *ngIf="customerToEdit == customer">
            <form #form='ngForm' >
              <input name="lastName" [ngModel]="customer.lastName" type="text" >
              <i class="icon checkmark" (click)='onSubmit(customer, form, "lastName")'></i>
              <i (click)="customerExit(customer)" class="icon remove"></i>
            </form>
          </div> 
          </td>
        <td>
          <a routerLink="/customers/{{customer.id}}">Details</a></td>          
      </tr>
    </tbody>
  </table>
  <div *ngIf='!customers.length'>
    <h2>customers not found</h2>
  </div>
</div>
<div *ngIf='!loaded'>
  <h2>Loading...</h2>
</div>