<div *ngIf="loaded">  
  <table class="ui celled table" *ngIf='customers.length'>
    <thead>
      <tr>
        <th></th>
        <th>
          <input *ngIf="searchStatus.searchCompanyStatus" type="text" (keyup)="escapePressed($event, 'company', 'searchCompanyStatus')" [(ngModel)]="filter.company" name="company" placeholder="Company">
          <span *ngIf="!searchStatus.searchCompanyStatus">Company</span>
          <i *ngIf="searchStatus.searchCompanyStatus" (click)="searchEnable('searchCompanyStatus')" class="icon remove"></i>  
          <i *ngIf="!searchStatus.searchCompanyStatus" (click)="sortString(customers, 'company', companySortStatus)" class="icon sort"></i>
          <i *ngIf="!searchStatus.searchCompanyStatus" (click)="searchEnable('searchCompanyStatus')" class="icon search"></i>          
        </th>
        <th>
          <input *ngIf="searchStatus.searchFirstNameStatus" type="text" (keyup)="escapePressed($event, 'firstName', 'searchFirstNameStatus')" [(ngModel)]="filter.firstName" name="firstName" placeholder="First Name">
          <span *ngIf="!searchStatus.searchFirstNameStatus">First Name</span>
          <i *ngIf="searchStatus.searchFirstNameStatus" (click)="searchEnable('searchFirstNameStatus')" class="icon remove"></i>  
          <i *ngIf="!searchStatus.searchFirstNameStatus" (click)="sortString(customers, 'firstName', firstNameSortStatus)" class="icon sort"></i>
          <i *ngIf="!searchStatus.searchFirstNameStatus" (click)="searchEnable('searchFirstNameStatus')" class="icon search"></i>          
        </th>
        <th>
          <input *ngIf="searchStatus.searchLastNameStatus" type="text" (keyup)="escapePressed($event, 'lastName', 'searchLastNameStatus')" [(ngModel)]="filter.lastName" name="lastName" placeholder="Last Name">
          <span *ngIf="!searchStatus.searchLastNameStatus">Last Name</span>          
          <i *ngIf="searchStatus.searchLastNameStatus" (click)="searchEnable('searchLastNameStatus')" class="icon remove"></i>          
          <i *ngIf="!searchStatus.searchLastNameStatus" (click)="sortString(customers, 'lastName', lastNameSortStatus)" class="icon sort"></i>          
          <i *ngIf="!searchStatus.searchLastNameStatus" (click)="searchEnable('searchLastNameStatus')" class="icon search"></i>          
        </th>
    </tr></thead>
    <tbody>
      <tr *ngFor='let customer of customers | customerFilter:filter'>
        <td>
          <a routerLink="/customers/{{customer.id}}">Details</a></td>          
        <td>{{customer.company}}</td>
        <td>{{customer.firstName}}</td>
        <td >
          <div *ngIf="customerToEdit != customer" (click)="customerLastNameEdit(customer)">{{customer.lastName}}</div>
                   <div *ngIf="customerToEdit == customer">
            <form #form='ngForm' >
              <input name="lastName" [ngModel]="customer.lastName" type="text" >
              <i class="icon checkmark" (click)='onSubmit(customer, form, "lastName")'></i>
              <i (click)="customerExit(customer)" class="icon remove"></i>
            </form>
          </div> 
          </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf='!customers.length'>
    <h2>customers not found</h2>
  </div>
</div>
<div *ngIf='!loaded'>
  <h2>Loading...</h2>
</div>