<div *ngIf="loaded">
  <form class="ui form error" #form='ngForm' (ngSubmit)='onSubmit(form)'>
    <h4 class="ui dividing header">Customer Information</h4>
      <div class="two fields">
    <div class="field">
      <label>Company</label>
        <div class="field">
          <input type="hidden" name="id" [ngModel]='customer.id'>
          <input type="text" name="company" placeholder="Company Name" [ngModel]='customer.company'>
        </div>    
    </div>    
    <div class="field">
      <label>Email</label>
        <div class="field">
          <input type="text" name="emailAddress" placeholder="Email Address" [ngModel]='customer.emailAddress'>
        </div>    
    </div>
      </div>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <!--[(ngModel)]='firstname'-->
          <input type="text" name="firstName" placeholder="First Name" [ngModel]='customer.firstName' #first='ngModel' required>
          <div *ngIf='first.dirty && first.invalid' class='ui error message'><p>Firstname is invalid</p></div>
        </div>
        <div class="field">
          <input type="text"  name="lastName" placeholder="Last Name" [ngModel]='customer.lastName'>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Address</label>
        <div class="field">
          <input type="text" name="address" placeholder="Street Address" [ngModel]='customer.address'>
        </div>
    </div>
    <div class="three fields">
    <div class="field">
      <label>City</label>
        <div class="field">
          <input type="text" name="city" placeholder="City" [ngModel]='customer.city'>
        </div>
    </div>
      <div class="field">
        <label>State</label>
            <input type="text" name="stateProvince" placeholder="state" [ngModel]='customer.stateProvince'>
      </div>
      <div class="field">
        <label>Zip</label>
          <div class="field">
            <input type="text" name="zipPostalCode" placeholder="Zip" [ngModel]='customer.zipPostalCode'>
          </div>
      </div>
    </div>
      <div class="field">
        <label>Country</label>
        <input type="text" name="countryRegion"  [ngModel]='customer.countryRegion'>
      </div>
    <div class="three fields">
      <div class="field">
        <label>Home Phone</label>
          <div class="field">
            <input type="text" name="homePhone" placeholder="Home Phone" [ngModel]='customer.homePhone'>
          </div>
      </div>
      <div class="field">
        <label>Mobile Phone</label>
          <div class="field">
            <input type="text" name="mobilePhone" placeholder="Mobile Phone" [ngModel]='customer.mobilePhone'>
          </div>
      </div>
      <div class="field">
        <label>Fax Number</label>
          <div class="field">
            <input type="text" name="faxNumber" placeholder="Fax Number" [ngModel]='customer.faxNumber'>
          </div>
      </div>
    </div>
    <div class="field">
        <label>Website</label>
          <div class="field">
            <input type="text" name="webPage" placeholder="Website URL" [ngModel]='customer.webPage'>
          </div>    
    </div>
    <!--   <div class="field">
        <label>Notes</label>
          <div class="field">
            <input type="textarea" name="notes" placeholder="Notes">
          </div>    
    </div>
  -->
    <button class="ui button primary" [disabled]="form.invalid" type="submit">Submit</button>
  </form>
  
    <div *ngIf='!customer'>
      <h2>Could not find customer record.</h2>
    </div>
  <div *ngIf='!loaded'>
    <h2>Loading...</h2>
  </div>
</div>

<div *ngIf="errorText" class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    {{ errorText }}
  </div>
</div>

<!--{{ form.value | json }}-->