This page is about how the web.xml header should look like for various versions of Java Enterprise Applications.

The following URL contains information about deployment descriptors for the Java Enterprise Applications.
<h3>web.xml for a Java EE 6 application</h3>
[sourcecode language="xml"]
<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     <display-name>Sample Web Application</display-name>
</web-app>
[/sourcecode]
<h3>Java EE 5 application</h3>
<a href="http://java.sun.com/xml/ns/javaee/index.html" target="_blank">http://java.sun.com/xml/ns/javaee/index.html</a>

The following is for the Servlet 2.5 / JSP 2.1

[sourcecode language="xml"]
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
<display-name>Sample Web Application</display-name>
</web-app>
[/sourcecode]
<h3>For J2EE 1.4</h3>
<a href="http://java.sun.com/xml/ns/j2ee/" target="_blank">http://java.sun.com/xml/ns/j2ee/</a>

Enhancements
<ul>
	<li>Built in support for JSTL</li>
</ul>
[sourcecode language="xml"]
<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

    <display-name>Sample Web Application</display-name>
</web-app>
[/sourcecode]
<h3>For J2EE 1.3</h3>
<a href="http://java.sun.com/dtd/" target="_blank">http://java.sun.com/dtd/</a>

[sourcecode language="xml"]
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<display-name>Sample Web Application</display-name>
</web-app>
[/sourcecode]

$blog_footer
