<div class="ui secondary pointing menu">
  <a class="item active" routerLink="/main" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/customers" routerLinkActive="active">
    Customers
  </a>
  <a class="item" routerLink="/employees" routerLinkActive="active">
    Employees
  </a>
  <a class="item" routerLink="/orders" routerLinkActive="active">
    Orders
  </a>
  <a class="item" routerLink="/invoices" routerLinkActive="active">
    Invoices
  </a>
  <a class="item" routerLink="/products" routerLinkActive="active">
    Products
  </a>
  <a class="item" routerLink="/shippers" routerLinkActive="active">
    Shippers
  </a>
  <a class="item" routerLink="/suppliers" routerLinkActive="active">
    Suppliers
  </a>
  <a class="item" routerLink="/purchaseorders" routerLinkActive="active">
    Purchase Orders
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<div class="ui segment">
  <p></p>
</div>